<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase font-weight-bold">Our Amazing Clients</h2>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/1.jpeg", :alt => "2", class: "mx-auto rounded-circle", style: "height: 280px; width: 100%; display: block;")%>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="team-member">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2><kbd>Kay Garland<kbd></h2>
                        <h4 class="mark font-italic">"WestCoast is brilliant for finding advertising knowledge and news
                            that actually matter. It’s truly a one-stop shop for helpful advertising information."</h4>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/2.jpeg", :alt => "2", class: "mx-auto rounded-circle", style: "height: 280px; width: 100%; display: block;")%>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="team-member">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2><kbd>Bashful Sane.<kbd></h2>
                        <h4 class="mark font-italic">"The Trends section is exactly what we need and a great tool for us
                            to share new ideas & trends with our customers."</h4>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/3.jpeg", :alt => "2", class: "mx-auto rounded-circle", style: "height: 280px; width: 100%; display: block;")%>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-8">
                    <div class="team-member">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2><kbd>Dan Hayes<kbd></h2>
                        <h4 class="mark font-italic">"WestCoast is ideal for a present at both the start of a project –
                            for ideas, inspiration and data – and at the end, as an independent product to help people
                            to have a product experience."</h4>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/4.jpeg", :alt => "2", class: "mx-auto rounded-circle", style: "height: 280px; width: 100%; display: block;")%>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-8">
                    <div class="team-member">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2><kbd>Gemma Bale<kbd></h2>
                        <h4 class="mark font-italic">"We love WestCoast and actively use the premium products and case
                            studies to share with trends."</h4>
                    </div>
                </div>
            </div>


        </div>
    </section>
</body>

</html>