<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>

<body>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
            <div class="col-md p-lg mx-auto my">
                <h1 class="display-4 font-weight-normal">Hola!, <%= current_administrator.email %> Ahora cuentas con
                    permisos de administrador</h1>
            </div>
        </div>


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md p-lg mx-auto my">
                <h2 class="display-3">New code</h2>
                <%= link_to "New code for products", new_code_path, class:"btn btn-success btn-user" %>
            </div>
        </div>
    </div>

</body>

</html>